<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" [routerLink]="['/']">
		Github User Searcher
	</a>

	<div class="navbar-collapse">
		<div class="navbar-nav ml-auto">
			<div *ngIf="email" class="navbar-text float-left">{{email}}</div>
		</div>
		<a 
		class="nav-item nav-link text-white"
		routerLinkActive="active" 
		[routerLink]="['/']"
		>Home</a>
		<a 
		*ngIf="!email" 
		class="nav-item nav-link text-white"
		routerLinkActive="active" 
		[routerLink]="['/signin']"
		>Signin</a>
		<a 
		*ngIf="!email" 
		class="nav-item nav-link text-white"
		routerLinkActive="active" 
		[routerLink]="['/signup']"
		>Signup</a>
		<a 
		*ngIf="email" 
		class="nav-item nav-link text-white" 
		(click)="handleLogout"
		>Logout</a>
	</div>
</nav>