
<div *ngIf="user.login" class="card user-card text-white bg-dark">
  <div class="text-center">
    <img
      class="img-fluid rounded-circle profile-pic border-white"
      [src]="user.avatar_url"
      alt=""
    />
  </div>

  <div class="card-body">
    <h5 class="card-title">
      {{ user.name }}
    </h5>
    <p class="card-text"><b>BIO:</b> {{ user.bio }}</p>
    <p class="card-text"><b>Location:</b> {{ user.location }}</p>
    <p class="card-text"><a href="https://github.com/{{ user.login}}?tab=repositories">Github</a></p>
    <p class="card-text">
      <b>Updated at:</b>
      {{ user.updated_at | date: "medium" }}
    </p>
  </div>
</div>


<!--class="img-fluid rounded-circle profile-pic border-white"-->