<div class="container-fluid bg-dark text-white h-100">
  <form
    class="form-inline d-flex justify-content-center"
    (ngSubmit)="findUser()"
  >
    <div class="row">
      <input
        [(ngModel)]="userName"
        type="text"
        id="userName"
        class="form-control mx-sm-3 m-3"
        name="userName"
      />
    </div>
    <button type="submit" class="btn btn-success mx-sm-3 m-3 text-white">Search</button>
  </form>

  <!-- to render error -->
  <div *ngIf="error" class="alert alert-danger m-5" role="alert">
    {{ error }}
  </div>

  <div class="row text-center fixed-height">
    <div class="col col-md-6">
      <app-user-card *ngIf="show" [user]="user"></app-user-card>
    </div>
    <div class="col col-md-6" >
      <user-repositories-list  *ngIf="show" [userName]="userName"></user-repositories-list>
    </div>
    <div *ngIf="!show" class="col-md-12 text-center text-white">
      <p>Please enter <b>Github</b> username above.</p><br><br>
      <div class="card user-card text-white text-center bg-dark">
        <div>
          <img
            class="img-fluid rounded-circle profile-pic border-white author-image "
            src="../../../assets/about.jpg"
            alt=""
          />
        </div>
        <p>This web app is developed by:</p>
        <b>Khairnar Saurabh</b>
        <p><a href="https://bio.link/aka__sawy">More info</a></p>
      </div>
    </div>
  </div>
</div>